<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <!--Links-->
    <link rel="stylesheet" href="main_style.css">
    <link rel="stylesheet" href="bootstrap.css">
    <script src="jquery-3.6.0.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.js"></script>

    <style>
        #navbar li a{
            text-decoration: none;
            font-size: 23px;
            color: black;
        }

        #navbar li a:hover{
            border-bottom: 3px solid green;
        }
    </style>
</head>

<body>
    <!--Header-->
    <header>
        <!--Profile Canvas-->
        <div class="ms-md-auto">
            <div class="float-end">
                <button class="btn mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#profileCanvas"
                        aria-controls="offcanvasEnd">
                    <%sec.forEach((item)=>{%>
                        <img src="/profile_images/<%=item.profileimg%>" alt="profile_icon" width="60" height="60" style="border-radius: 50%;">
                   <%});%>
                </button>
            
                <div class="offcanvas offcanvas-end" tabindex="1" id="profileCanvas">
                    <div class="offcanvas-header">
                        <h5>Profile</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body p-0 d-flex flex-column text-center align-items-center" id="offcanvas">
                        <!--Profile Update Modal-->
                        <div class="btn" data-bs-toggle="modal" data-bs-target="#profileModal">
                            <%sec.forEach((item)=>{%>
                                <img src="/profile_images/<%=item.profileimg%>" alt="profile_icon" width="100" height="100" style="border-radius: 50%;">
                            <%});%>
                        </div>

                        <!--Profile Canvas Contents-->
                        <%sec.forEach((item)=>{%>
                            <h2 class="pt-2"><%=item.username%></h2>
                            <h6 class="pt-3"><%=item.address%></h6>

                            <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#profileDetails">Edit Profile Details</button>

                            <form action="/logout" method="POST">
                                <button class="btn btn-primary mt-3">Logout</button>
                            </form>
                        <%});%>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md p-3 d-flex">
            <a href="#" class="navbar-brand fs-2">LOGO</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-5" id="navbar">
                    <li class="nav-item ms-5">
                        <a href="/main">Home</a>
                    </li>

                    <li class="nav-item ms-5" style="border-bottom: 3px solid green;">
                        <a href="#">About Us</a>
                    </li>

                    <li class="nav-item ms-5">
                        <a href="/services_seeker">Services</a>
                    </li>

                    <li class="nav-item ms-5">
                        <a href="/contact_seeker">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Sidepanel-->
        <div id="side" class="d-md-none">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEnd"
                aria-controls="offcanvasEnd" id="menu"><img src="list.svg" alt="bars" width="50"></button>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasEnd">
                <div class="offcanvas-header">
                    <h5 id="offcanvasTopLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body p-0 d-flex flex-column text-center" id="offcanvas">
                    <a href="/main" class="mt-2 p-2">Home</a>
                    <a href="#" class="mt-2 p-2">About Us</a>
                    <a href="/services_seeker" class="mt-2 p-2">Services</a>
                    <a href="/contact_seeker" class="mt-2 p-2">Contact Us</a>
                </div>
            </div>
        </div>
    </header>
    <!--Content-->
        <h1>About Us</h1>
    
                <!--Profile Update Modal Body-->
                <div class="modal fade" id="profileModal" tabindex="5" aria-labelledby="ProfileModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Change Profile Picture</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <form action="/update" method="post" enctype="multipart/form-data">
                                    <input type="file" name="profiles" accept="image/*">
                                    <button type="submit" class="btn btn-primary" name="change">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Profile Details Modal Body-->
                <div class="modal fade" id="profileDetails" tabindex="-1" aria-labelledby="ProfileModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Change Profile Details</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                
                            <div class="modal-body">
                                <form action="/prof_upd" method="post">
                                    <input type="text" placeholder="New Username" name="new_username" required><br><br>
                                    <input type="text" placeholder="New Address" name="new_address" required><br><br>
                                    <button type="submit" class="btn btn-primary" name="change">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
</body>

</html>